*{
    margin: 0;
    padding: 0;
    bottom: 0;
}
*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none};

nav,footer,header,aside{display: block;}

html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner {padding:0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
imgPvertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight: 400;}

/*PAGE*/
body {
    margin: 0px auto;
    max-width: 1400px;
    background-color: #f7f7f7;
}

.panel {
    box-shadow: lightgray 3px 3px 5px;
    border-radius: 5px;
    background-color: white;
    margin: 20px;
}

/*HEADER*/
.head_panel {
    height: 275px;
    align-items: flex-end;
}

.up_head_panel {
    background-image: url(../images/_Yoga_in_the_beach_055647_.jpg);
    background-size: 100% auto;
    height: 250px;
    width: 100%;
    display: block;
    z-index: 0;
    border-radius: 5px;
}

.down_head_panel {
    display: flex;
    z-index: 1;
    align-items: flex-end;
    height: 20px;
}

.users_photo_block {
    height: 250px;
    margin: 0px 20px;
    display: inline-block;
}

.users_photo {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    border: 5px lightgray solid;
    transition: opacity 0.2s;
}

.users_photo:hover {
    opacity: 0.8;
}

.users_name {
    font: 35px Raleway;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    bottom: 25px;
    text-shadow: 1px 1px 3px black;
}

/*CONTENT PANEL*/

.tools_panel {
display: flex;
align-content: space-between;
}

.left_panel {
    display: inline-block;
    width: 33%;
}

.right_panel {
    font-size: 18px;
    display: inline-block;
    width: 67%;
}

.todo_panel,.about_panel {
display: block;
padding: 5px 15px;
}

.panel_button {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    background-color: white;
    transition: background-color 0.5s;
}

.panel_button:hover, .menu_panel_button:focus {
    background-color: lightgray;
    outline: none;
}


/* MY ASANAS */
.main_panel {
    /* display: flex;*/
    max-width: 100%;
    align-content: s;
    font-size: 0px;
}


.photo_box {
    width: 24%;
    padding: 0 0 30px 0;
    display: inline-block;
    border-radius: 5px;
    box-shadow: lightgray 3px 3px 5px;
    margin:5px 5px;
    vertical-align: bottom;
}
.panel.main_panel {
    min-height: 95%;
}


.asana_photo {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    transition: opacity 0.3s;
}

.asana_photo:hover {
    opacity: 0.85;
}

.add_photo_button {
    display: block;
    margin: auto;
    border: 1px black solid;
}