/*PAGE*/
body {
    margin: 0px auto;
    max-width: 1400px;
    background-color: #f7f7f7;
}

.panel {
    box-shadow: lightgray 5px 5px;
    border-radius: 5px;
    background-color: white;
    margin: 20px;
}

/*HEADER*/
.head_panel {
    height: 275px;
    align-items: flex-end;
}

.up_head_panel {
    height: 250px;
    width: 100%;
    display: block;
    z-index: 0;
    border-radius: 5px;
}

.down_head_panel {
    display: flex;
    z-index: 1;
    align-items: flex-end;
    height: 20px;
}

.users_photo_block {
    height: 250px;
    margin: 0px 20px;
    position: relative;
    display: inline-block;
}

.users_photo {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    border: 5px #ffbfbf solid;
    transition: opacity 0.2s;
}

.users_photo:hover {
    opacity: 0.8;
}

.users_name {
    font: 35px Arial;
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    display: inline-block;
    position: relative;
    bottom: 25px;
}

/*FIRST PANEL*/
.tools_panel {
    display: flex;
    margin: 0 auto;
    position: relative;
    align-items: flex-start;
}

.left_panel {
    display: inline-block;
    width: 30%;
}

.menu_panel_button {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    font: 15px Arial;
    text-transform: uppercase;
    text-align: left;
    background-color: white;
    transition: background-color 0.5s;
}

.menu_panel_button:hover, .menu_panel_button:focus {
    background-color: lightgray;
    outline: none;
}

.right_panel {
    display: inline-block;
    width: 60%;
}
